/* Brand */

$brand-blue: rgb(36,118,240);
$brand-blue-500: rgb(36,84,240);
$brand-cyan: rgb(0,186,240);
$brand-teal: rgb(36,240,186);

$brand-indigo: rgb(58,36,240);
$brand-violet: rgb(128,36,240);
$brand-purple: rgb(198,36,240);
$brand-magenta: rgb(233,36,240);

/* Complementary */

$orange: rgb(240,118,36);
$red: rgb(255,0,0);
$yellow: rgb(255,238,0);
$pink: rgb(224,27,114);