.toggleButton {
  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: none;

  cursor: pointer;

  color: var(--color-text-secondary);

  padding: 0;

  &:hover {
    color: var(--color-primary);
  }
}